body {
  background-color: #232323;
  color: #d9c4ae;
}

.module p {
  color: #d9c4ae;
}

.module .item-icon {
  color: #ff9300;
}

.navbar.container {
  width: 100%;
}

a {
  color: #ff9300;
  opacity: 0.85;
}

a:hover {
  color: #ff9300;
  opacity: 1;
}

#header .navbar,
.navbar.scrolled {
  background-color: #131313;
  width: 100%;
}

#header a,
.navbar.scrolled #navbar1 a,
.navbar.scrolled .navbar-brand {
  color: #ff9300;
}

.header .navbar .highdensity-menu li a {
  padding: 2px 6px;
  margin-top: 14px;
}

#header .navbar-toggle {
  border-color: #ff9300;
}
#header .navbar-toggle .icon-bar {
  background-color: #ff9300;
}

#breadcrumbs {
  display: none;
}

.jumbotron h1,
.jumbotron p{
  color: #ff9300;
}


#body h2 a {
   color: #ff9300;
}

.tags a.btn {
  background-color: #ff9300;
  border: none;
}

#body .col-md-9 {
  background: #131313;
  padding: 0px 30px 15px;
  margin-top: 15px;
}
#body .col-md-9 + .col-md-3 {
  padding: 15px 0px 0 30px;
}

#contact {
  background: #131313;
  border: none;
}

footer.footer {
  background: #232323;
}

footer .container .row:first-child {
  display: none;
}
